# Ignore large videos
public/od_vid.mp4
*.mp4
*.avi
*.mkv

# Virtual environment folder
venv/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Deep Learning Model Weights
*.pt
*.pth
*.weights
*.ckpt
*.h5
*.keras

# Data folders
datasets/
data/
